* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin: auto;
    width: 50%;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 25px;
    box-shadow: 2px 4px 8px 0 black;
    text-align: center;
}

.box {
    padding: 15px 0 15px 0;
}

input {
    width: 2.5em;
}

button {
    background-color: rgb(66, 66, 201);
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    color: white;
    cursor: pointer;
    margin-top: 2em;
    transition: all ease 0.3s;
}

button:hover {
    background-color: rgb(66, 66, 201);
    opacity: 0.9;
}